body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center-cropped {
	max-height: 150px;
    max-width: 150px;
    height: auto;
    width: auto; /* ie8 */
}